<!DOCTYPE html>
<html>
<head>
    <title>Alan Kuzmanovic's Resume</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
          <a href="/" class="button">Home</a>
    <h1>Alan Kuzmanovic</h1>
    <p>
        <strong>Phone:</strong> 801-792-7638 <br>
        <strong>Email:</strong> <a href="mailto:alankuzmanovic@gmail.com">alankuzmanovic@gmail.com</a> <br>
        <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/alan-kuzmanovic/">https://www.linkedin.com/in/alan-kuzmanovic/</a>
    </p>

    <h2>EDUCATION</h2>
    <h3>Utah State University, Jon M. Huntsman School of Business, Logan, UT</h3>
    <p>Bachelor of Science: Information Systems; Data Engineering Emphasis - May 2025</p>
    <ul>
        <li>GPA: 3.3 while working 40-50 hours per week</li>
    </ul>
    <h3>University of Utah, Salt Lake City, UT</h3>
    <p>Full Stack Web Development Certificate - May 2019</p>
    <ul>
        <li>GPA: 3.5 while working 40-50 hours per week</li>
    </ul>

    <h2>TOOLS</h2>
    <p>Languages: SQL, HTML, CSS, JavaScript, React, Vue, Python, MongoDB, R</p>
    <p>Technologies: MS SQL Server, PostgreSQL, Excel, Tableau, Git, GitHub, Jira, MS Office Suite, AWS, VS Code</p>

    <h2>PROJECTS</h2>
    <h3>Content Moderation Detection Models</h3>
    <p>Global Policy Manager | eBay Jan 2022 – Jan 2023</p>
    <ul>
        <li>Evaluated 40+ content moderation machine learning models to prevent 281k users monthly from offensive and threatening user-generated content globally</li>
        <li>Prevented $1.1m of loss annually by integrating third-party vendor OCR detection models into all global member-to-member chat streams to detect and block fee avoidance attempts</li>
    </ul>

    <h2>WORK EXPERIENCE</h2>
    <h3>eBay, Draper, UT</h3>
    <p><strong>Global Policy Manager</strong> Feb 2021-Mar 2023</p>
    <ul>
        <li>Built user trust through curated experiences and robust policy enforcement, managing more than 40 policies, preventing more than $2m in losses annually through seller abuse and illegal practices</li>
        <li>Transformed data into actionable insights, enhancing marketplace integrity and guiding global business strategies</li>
    </ul>
    <p><strong>Counterfeit Specialist</strong> Mar 2020-Feb 2021</p>
    <ul>
        <li>Specialized in high-value brand counterfeit recognition, providing analytics on trends</li>
    </ul>
    <p><strong>Intellectual Property Specialist (VeRO)</strong> June 2018- March 2020</p>
    <ul>
        <li>Managed intellectual property claims, facilitating communication between users and rights owners.</li>
    </ul>

    <h2>VOLUNTEER / LEADERSHIP</h2>
    <h3>Boy Scouts of America, Salt Lake City, UT</h3>
    <p>Eagle Scout Aug 2009 - Present</p>
    <ul>
        <li>Volunteered on a semi-weekly basis for impoverished, disabled, and disadvantaged individuals</li>
        <li>Managed a book donation drive, collecting 500+ books for 3rd world communities</li>
    </ul>

    <h2>SKILLS / INTERESTS</h2>
    <p>Languages: Bosnian – Fluent · American Sign Language – Intermediate</p>
    <p>Skilled at fire performance, performed to a crowd of 4,500 at Element 11</p>
</body>
</html>
